@import url(./vars.css);
@import url(./elements.css);

.main-title {
    text-shadow: none;
    text-align: center;
    background: var(--quicklinkjs-secondary-color);
    color: rgb(210, 160, 95);
    border-radius: 10px;
    font-size: 35px;
    font-weight: 100;
    animation: entry 0.5s ease-in;
}
.desc {
    background-color: transparent;
    transition: background-color ease-in-out 0.3s;
    width: fit-content;
    border-radius: 5px;
}
.desc:hover {
    background-color: rgb(0, 147, 0, 0.580);
}
.code {
    background: var(--quicklinkjs-fourth-color);
    width: fit-content;
    border-radius: 5px;
    font-size: 14.5px;
    color: rgb(210, 160, 95);
    font-family: Consolas;
    margin-bottom: 0px;
    transition: background-color ease 0.5s, color ease 0.5s;
}
.code:hover {
    background-color: rgb(49 109 202);
    color: rgb(255, 255, 255);
}
.credits-paragraph {
    text-align: center;
    font-weight: bold;
    color: var(--quicklinkjs-fifth-color);
}
.copy-btn, .copy-btn-img {
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--quicklinkjs-secondary-color);
}
.credits-title {
    margin-left: 15px;
    border-radius: 0px 0px 5px 5px;
    width: 150px;
    text-align: center;
}
::-webkit-scrollbar {
    background: rgb(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background-color: var(--quicklinkjs-fourth-color);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background-color:rgb(0, 0, 0, 0.780);
}
@keyframes dynamic {
    0% {
        transform: rotate(0.4deg);
    } 50% {
        transform: rotate(-0.4deg);
    } 100% {
        transform: rotate(0.4deg);
    }
}
@keyframes entry {
    from {
        opacity: 0.5;
    } to {
        opacity: 1;
    }
}